<h5>Tags</h5>
<div class="form-group tags">
    <% if (tags) { %>
      <% for(let i = 0; i < tags.length; i++) { %>
          <div class="form-check" id="<%= tags[i]._id %>">
            <input type="checkbox" class="form-check-input" id="featured" name=tags[<%= tags[i].tag %>] >
            <label><span class="badge" style="background-color: <%= tags[i].color %>"><%= tags[i].tag %></span>&nbsp;
                <button type="button" class="close removeTagButton" aria-label="Close" value="<%= tags[i]._id %>">
                    <span aria-hidden="true">&times;</span>
                </button>
            </label>
          </div>
      <% } %>
  <% } %>
  </div>

<div class="form-check">
    <label>
        <input class="form-control form-control-sm" id="tag" type="text">
        <input type="color" id="tagColor" name="color" value="#e66465" />
        <div class="btn btn-success btn-sm" id="tagButton">Add tag</div>
    </label>
</div>
