<html>
<head>
    <%- include ('./partials/head'); %>
</head>
<body>
    <div class="container">
        <h1>Project Post</h1>
        <form method="post" action="/addpost">
            <div class="form-group">
              <label for="title">Post Title</label>
              <input class="form-control form-control-sm" id="title" name="title" type="text">
            </div>

            <div class="form-group">
              <label for="github">Commit Link</label>
              <input class="form-control form-control-sm" id="github" name="github" type="text">
            </div>

            <%- include('./partials/tags'); %>

            <div class="form-check">
                <select class="mdb-select md-form" name="project">
                    <% for(let i = 0; i < projects.length; i++) { %>
                        <option name="project" value="<%= projects[i]._id %>"><%= projects[i].name %></option>
                    <% } %>
                </select>
                <label>Associated Project</label>
            </div>

          <div class="form-group">
            <label for="content">Post Details</label>
            <textarea class="form-control" name="content" rows="15"></textarea>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <%- include ('./partials/scripts') %>
    <script type="text/javascript" src="/js/tags.js"></script>
    <script>
         $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>
</html>
