<html>
<head>
    <% include ./partials/head %>
    <style>
    h1 {
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <% include ./partials/sidebar %>
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="mr-auto">
                    <h1>Projects</h1>
                    <div class="projects">
                    <% for(let i = 0; i < projects.length; i++) { %>
                        <div id="<%= projects[i]._id %>">
                            <div class="subheading">
                                <%= projects[i].name %>
                                <a href="/admin/editProject/<%= projects[i].name %>"><button class="close" type="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button></a>
                                <button type="button" class="close removeProjectButton" aria-label="Delete" value="<%= projects[i]._id %>">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <article id="<%= projects[i]._id %>-tags"></article>
                        </div>
                    <% } %>
                    </div>
                    <br><br>
                    <h3><a href="/admin/addProject">Add New Project</a></h3>
                    <h3><a href="/admin/addPost">Add New Post</a></h3>
                </div>
            </div>
        </section>
    </div>

    <% include ./partials/scripts %>
    <script>
    $( document ).ready(function() {
        <% for(let i = 0; i < projects.length; i++) { %>
            // load tags
            <% for(tag in projects[i].tags){ %>
                $.ajax({
                    type: 'POST',
                    data: {tag : '<%= tag %>'},
                    url: '/getTag',
                    success: function(data) {
                        var newTag = data;
                        $("#<%= projects[i]._id %>-tags").append('<label><span class="badge" style="background-color: ' + newTag.color + '">' + newTag.tag + '</span></label>');
                    }
                });
            <% } %>
        <% } %>
    });
    $(function(){
        $('.removeProjectButton').click(function(e){
            e.preventDefault();
            var data = {};
            data.project = $(this).val();;

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/removeProject',
                success: function() {
                    console.log('success' + data);
                    $(".projects").children("#"+data.project).remove();
                }
            });
        });
    });
    </script>
</body>
</html>
