<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/sidebar %>
    <div class="container-fluid p-0">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item"><a href="/projects/<%= project %>"><%= project %></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
          </ol>
          <div class="container">
              <h1>Edit Post</h1>
              <form method="post" action="/editPost">
                  <input id="id" name="id" type="hidden" value="<%= post._id %>">

                  <div class="form-group">
                    <label for="title">Post Title</label>
                    <input class="form-control form-control-sm" id="title" name="title" type="text" value="<%= post.title %>">
                  </div>

                  <div class="form-group">
                    <label for="github">Commit Link</label>
                    <input class="form-control form-control-sm" id="github" name="github" type="text" value="<%= post.github %>">
                  </div>

                  <h5>Tags</h5>
                  <div class="form-group tags">
                    <% for(let i = 0; i < tags.length; i++) { %>
                        <div class="form-check" id="<%= tags[i]._id %>">
                          <input type="checkbox" class="form-check-input" id="featured" name=tags[<%= tags[i].tag %>] <% if (post.tags && (tags[i].tag in post.tags)) { %>  checked <% } %>>
                          <label><span class="badge" style="background-color: <%= tags[i].color %>"><%= tags[i].tag %></span>&nbsp;
                              <button type="button" class="close removeTagButton" aria-label="Close" value="<%= tags[i]._id %>">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </label>
                        </div>
                    <% } %>
                    </div>

                  <div class="form-check">
                      <label>
                          <input class="form-control form-control-sm" id="tag" type="text">
                          <input type="color" id="tagColor" name="color" value="#e66465" />
                          <div class="btn btn-success btn-sm" id="tagButton">Add tag</div>
                      </label>
                  </div>

                  <div class="form-check">
                      <select class="mdb-select md-form" name="project">
                        <option name="project" value="<%= project %>"><%= project %></option>
                      </select>
                      <label>Associated Project</label>
                  </div>

                <div class="form-group">
                  <label for="content">Post Details</label>
                  <textarea class="form-control" name="content" rows="15"><%= post.content %></textarea>
                </div>
                <input type="submit" class="btn btn-primary">
              </form>
          </div>
  </div>
  <% include ./partials/scripts %>
  <script>
  $( document ).ready(function() {
      <% for(tag in post.tags){ %>
          $.ajax({
              type: 'POST',
              data: {tag : '<%= tag %>'},
              url: '/getTag',
              success: function(data) {
                  var newTag = data;
                  $("#<%= post._id %>-tags").append('<label><span class="badge" style="background-color: ' + newTag.color + '">' + newTag.tag + '</span></label>');
              }
          });
      <% } %>
  });
  </script>
  <style>
  h3, h5{
      display: inline;
  }
  </style>
  <script type="text/javascript" src="/js/tags.js"></script>

</body>
</html>
