<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/sidebar %>
    <div class="container-fluid p-0">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item"><a href="/projects/<%= project %>"><%= project.name %></a></li>
          </ol>

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="mr-auto">
                    <h1>Edit Project</h1>
                    <form method="post" action="/editProject">
                        <input id="id" name="id" type="hidden" value="<%= project._id %>">

                        <div class="form-group">
                          <label for="name">Project Name</label>
                          <input class="form-control form-control-sm" id="name" name="name" type="text" value="<%= project.name %>">
                        </div>

                        <div class="form-group">
                          <label for="github">Github Link</label>
                          <input class="form-control form-control-sm" id="github" name="github" type="text" value="<%= project.github %>">
                        </div>

                        <h5>Tags</h5>
                        <div class="form-group tags">
                          <% for(let i = 0; i < tags.length; i++) { %>
                              <div class="form-check" id="<%= tags[i]._id %>">
                                <input type="checkbox" class="form-check-input" id="featured" name=tags[<%= tags[i].tag %>] <% if (project.tags && tags[i].tag in project.tags) { %>  checked <% } %>>
                                <label><span class="badge" style="background-color: <%= tags[i].color %>"><%= tags[i].tag %></span>&nbsp;
                                    <button type="button" class="close removeTagButton" aria-label="Close" value="<%= tags[i]._id %>">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </label>
                              </div>
                          <% } %>
                          </div>

                        <div class="form-check">
                            <label>
                                <input class="form-control form-control-sm" id="tag" type="text">
                                <input type="color" id="tagColor" name="color" value="#e66465" />
                                <div class="btn btn-success btn-sm" id="tagButton">Add tag</div>
                            </label>
                        </div>


                      <div class="form-group">
                        <label for="description">Project Description</label>
                        <textarea class="form-control" name="description" rows="10"><%= project.description %></textarea>
                      </div>
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary">
                              <label>
                                  <input data-toggle="toggle" type="checkbox" name="featured" <% if (project.featured) { %> checked <% } %> >
                                  Featured
                              </label>
                      </div>
                    </form>
                </div>
              </div>
          </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="mr-auto">
                <h1>Posts for <%= project.name %></h1>
                <% for(let i = 0; i < posts.length; i++) { %>
                    <h3><a href="/projects/<%= project.name %>/<%= posts[i].title %>"><%= posts[i].title %></a></h3> <%= posts[i].time %>
                    <article id="<%= posts[i]._id %>-tags"></article>
                    <article>
                        <a href="/admin/editPost/<%= project.name %>/<%= posts[i].title %>">Edit</a>
                    </article>
                <% } %>
                </div>
            </div>
        </section>
    </div>

    <% include ./partials/scripts %>
    <script type="text/javascript" src="/js/tags.js"></script>
</body>
</html>
