<html>
<head>
    <% include ./partials/head %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Dev Blog for <%= project %></h1>
        <% for(let i = 0; i < posts.length; i++) { %>
            <h3>Post - <%= posts[i].title %> - <%= posts[i].time %></h3>
            <% for(x in posts[i].tags) { %>
                <label><span class="badge" style="background-color: <%= x.color %>"><%= x %></span></label>
            <% } %>
            <article>
                <p><%= posts[i].github %></p>
            </article>
        <% } %>
</body>
</html>
